solution_managed/Workflows/-CF11D80B-2E55-F111-BEC7-000D3ADA5B8A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "e3504f9b-634d-4969-a8b6-53e2b4e5d0e0"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "vy_opportunity",
              "subscriptionRequest/scope": 4
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Scope": {
          "actions": {
            "Add_a_new_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "3cb757f5-9cbb-490d-9049-7eb3579db1bc"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "vy_activities",
                  "item/vy_subject": "Discovery: @{triggerOutputs()?['body/vy_name']}",
                  "item/vy_activitytypecode": 127550002,
                  "item/vy_regardingobjectid_vy_opportunity@odata.bind": "vy_opportunities(@{triggerOutputs()?['body/vy_opportunityid']})",
                  "item/vy_scheduledstart": "@addDays(utcNow(), 3)",
                  "item/vy_description": "Initial discovery call. Confirm scope, identify decision makers, plan follow-up.",
                  "item/ownerid@odata.bind": "systemusers(@{triggerOutputs()?['body/_ownerid_value']})",
                  "item/vy_scheduledend": "@addToTime(addDays(utcNow(), 3), 30, 'Minute')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Post_card_in_a_chat_or_channel": {
              "runAfter": {
                "Add_a_new_row": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2b0c8fcd-0e23-4794-9d46-d2f19f66f775"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams",
                  "operationId": "PostCardToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Chat with Flow bot",
                  "body/recipient": "vitalii.yanitskyi@lnu.edu.ua;",
                  "body/messageBody": "{\n  \"type\": \"AdaptiveCard\",\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"version\": \"1.4\",\n  \"body\": [\n    { \"type\": \"TextBlock\", \"size\": \"Medium\", \"weight\": \"Bolder\", \"text\": \"Discovery activity scheduled\" },\n    { \"type\": \"TextBlock\", \"text\": \"@{triggerOutputs()?['body/vy_name']}\", \"wrap\": true },\n    { \"type\": \"TextBlock\", \"text\": \"Owner: @{triggerOutputs()?['body/_ownerid_value@OData.Community.Display.V1.FormattedValue']}\", \"wrap\": true }\n  ]\n}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "92fcc147-59ad-4368-901e-03b410b79d40"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}