solution_managed/Workflows/LeadQualification-570243CC-2A55-F111-BEC7-000D3ADA5B8A.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {},
        "api": {
          "name": "shared_teams"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "e70e26a3-cfdd-4884-97c7-9bad76cb831e"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "vy_lead",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statecode, statuscode, vy_fullname, vy_topic, vy_companyname",
              "subscriptionRequest/filterexpression": "statecode eq 1"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1b407d52-3322-4904-8fbc-0645ccdd0179"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "vLeadId",
                "type": "string",
                "value": "@triggerOutputs()?['body/vy_leadid']"
              }
            ]
          }
        },
        "Scope": {
          "actions": {
            "Perform_a_bound_action": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "316a049b-b307-40a2-8c83-323c11e10359"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "PerformBoundAction",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "vy_leads",
                  "actionName": "Microsoft.Dynamics.CRM.vy_QualifyLeadAdvanced",
                  "recordId": "@variables('vLeadId')"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Compose": {
              "runAfter": {
                "Perform_a_bound_action": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "53a9b7ae-9c8a-42e9-8b42-5664cfd87bc7"
              },
              "type": "Compose",
              "inputs": "@outputs('Perform_a_bound_action')?['body']"
            },
            "Update_a_row": {
              "runAfter": {
                "Compose": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "738a9188-d4b0-44b2-b580-8be57b77b4d5"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "vy_leads",
                  "recordId": "@variables('vLeadId')"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "c888597e-c533-4eb8-8350-86fb17f45d3b"
          },
          "type": "Scope"
        },
        "Scope_|_Catch": {
          "actions": {
            "Post_card_in_a_chat_or_channel": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "9b20cb72-738e-4c57-8bcb-3298ffd8229c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams",
                  "operationId": "PostCardToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "poster": "Flow bot",
                  "location": "Chat with Flow bot",
                  "body/recipient": "vitalii.yanitskyi@lnu.edu.ua;",
                  "body/messageBody": "{\n  \"type\": \"AdaptiveCard\",\n  \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n  \"version\": \"1.4\",\n  \"body\": [\n    { \"type\": \"TextBlock\", \"size\": \"Medium\", \"weight\": \"Bolder\", \"text\": \"Lead qualification failed\" },\n    { \"type\": \"TextBlock\", \"text\": \"Lead Id: @{outputs('Update_a_row')?['body/vy_leadid']}\", \"wrap\": true }\n  ]\n}"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Scope": [
              "Failed",
              "Skipped",
              "TimedOut"
            ]
          },
          "metadata": {
            "operationMetadataId": "2d1c27b7-0ace-46dc-bcba-6ceb37477048"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}